body,html {
    height: 100vh;
    width: 100vw;
    background: rgb(48,44,122);
    background: linear-gradient(38deg, rgba(48,44,122,1) 0%, rgba(62,62,205,1) 45%, rgba(0,212,255,1) 100%);
    background-size: contain;
    overflow: hidden;
    display: grid;
}

#calculator {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    place-self: center;
    background-color: white;
    padding: 15px;
    width: max-content;
    border-radius: 20px;
    overflow: hidden;
}

#keys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 20px;
    padding-top: 20px;
    justify-items: stretch;
    align-items: stretch;
}

button {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

#display {
    width: 90%;
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
    border-radius: 5px;;
}

button[onclick="calculate()"] {
    grid-row: span 2;
    align-self: stretch;
    justify-self: stretch;
}

button:hover {
    color: white;
    background-color:hsl(0, 0%, 15%);
}
